.navbar-brand-img, .navbar-brand > img {
    max-height: 2.5rem;
}
.areasgh-hero {

    height: 60vh
}

.input-group {
    border-radius: .375rem !important;
    background-color: #fff;
}

.input-group .select2-container {
    flex: 1 1 0%;
    border-radius: 0;
}



.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.areasgh-hero .navbar.navbar-expand-xl {
    margin-bottom: -50px !important;
}

.rating {
    font-size: 2rem;
}

.total-reviews {

    line-height: 48px;
    padding: 0;

}

.areasgh-hero {

    height: 60vh
}

.navbar-brand-img, .navbar-brand > img {
    max-height: 2.5rem;
}

.main-search.input-group {
    border-radius: .375rem !important;
    background-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .15);
}

.input-group .select2-container {
    flex: 1 1 0%;
    border-radius: 0;
}

.rating {
    font-size: 2rem;
}

.total-reviews {
    line-height: 48px;
    padding: 0;
}

.text-primary,
.review-card a h4
{
    color: #d32323 !important;
}

.btn-primary
{
    background-color: #d32323 !important;
    border-color: #d32323 !important
}

.form-control:focus {
    border-color: #d32323;
}

.avatar-business {
    width: 12rem;
    height: 12rem;
}

.rating {
    font-size: 2rem;
}

.review-card .carousel-item {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.typeahead.dropdown-menu
{
    z-index: 9999;
}


.business-title{
    font-size: 2.5em;
    font-weight: 900;
}


.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h3{
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("../img/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("../img/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("../img/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

@keyframes myfirst {
    0% {
        left: -25%;
    }
    100% {
        left: 100%;
    }
}

/*************footer End*****************/

